In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('stock-prices.csv')

In [3]:
df = df[['Date', 'Adj Close']]
df.loc[:, ('returns')] = df['Adj Close'].diff(1).divide(df['Adj Close'].shift(1))
df.to_csv('stock-returns.csv', index=False)

In [4]:
df.head()

         Date  Adj Close   returns
0  2017-02-17      4.415       NaN
1  2017-02-16      4.476  0.013817
2  2017-02-15      4.542  0.014745
3  2017-02-14      4.577  0.007706
4  2017-02-13      4.530 -0.010269